
section .btn{
    margin: 2px;
}

a{
    text-decoration: none;
    color: white;
}

.btn-primary{
    background-color: #25d366;
    &:hover{
        background-color: #188026;
    }
}

.btn-secondary{
    background-color: #833AB4;
    &:hover{
        background-color: #451e5f;
    }
}

.btn-forms{
    background-color: $btn-color-main;
    color: white;
    &:hover{
        background-color: rgba(0, 0, 0, 0.486);
    }
}

.form-section{
    @include flex-c;
    width: 100%;
}

.mb-3{
    width: 90%;
}


.form-section{
    @include flex-c;
    align-items: center;
    width: 100%;
}

.mb-3{
    width: 90%;
}