
section .btn{
    margin: 10px;
}

.btn-primary{
    background-color: #25d366;
}

.btn-secondary{
    background-color: $btn-color-main;
}

.form-section{
    @include flex-c;
    width: 100%;
}

.mb-3{
    width: 90%;
}


.form-section{
    @include flex-c;
    align-items: center;
    width: 100%;
}

.mb-3{
    width: 90%;
}