main{
    width: 90%;
    margin-top: 120px;
    margin-bottom: 50px;
    @include flex-c;
    position: relative;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.main-image{
    @include flex-c;
    position: relative;
    margin-top: 20px;
    width: 95%;
}


.main-image-text{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 50px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background: radial-gradient(circle 600px,transparent, $color-primary);
    height: 101%;
}



.card-main{
    display: grid;
    grid-template-areas: 
    'a1 a1'
    'a2 a3';
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-items: center;
    padding-bottom: 20px;
    margin-top: 30px;
}

.card{
    margin-bottom: 20px;
    width: 90%;
    img{
        height: 300px;
        object-fit: scale-down;
        padding: 10px;
    }
}

.card-secondary{
    height: 700px;
}

.card-us{
    display: flex;
    flex-direction: row;
}

.card-text{
    padding-top: 10px;
    font-size: 20px;
}

.img-main{
    width: 40%;
}

.a1{
    grid-area: a1;
}

.a2{
    grid-area: a2;
}

.a3{
    grid-area: a3;
}

