@media (max-width:1024px) {
    .gallery{
        grid-template-columns: repeat(3,220px);
        gap: 10px;
    }
    iframe{
        width: 500px;
    }
    .card{
        width: 90%;
    }
    .card-us{
        flex-direction: column;
        align-items: center;
        img{
            width: 90%  ;
        }
        text-align: center;
    }
    .main-image-text{
        font-size: 40px;
    }
}


@media (max-width:800px) {
    .gallery{
        grid-template-columns: repeat(2,200px);
        gap: 10px;
    }
    .card-main{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    iframe{
        width: 400px;
    }
    .main-image-text{
        font-size: 30px;
    }
}

@media (max-width:572px) {
    .gallery{
        grid-template-columns: repeat(1,200px);
        gap: 5px;
    }
    .navbar-collapse{
        border: 1px solid rgba(0, 0, 0, 0.562);
        margin: 5px;
    }
    iframe{
        width: 300px;
    }
    .main-image-text{
        font-size: 20px;
    }
    .card-secondary{
        height: 850px;
    }
}
