nav{
    background-color: $color-primary;
    height: 70px;
    width: 100%;
    z-index: 4;
    border: 0.5px solid $border-color;
    img{
        height: 40px;
    }
}

.navbar{
    position: fixed;
}

li:hover{
    background-color: #0000a7;
    border: 1px solid $border-color;
}

.nav-link{
    font-size: 20px;
    color: white;
    &:hover{
        color: white;
    }
}

.navbar-collapse{
    background-color: $color-primary;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.navbar-toggler{
    background-color: white;
}
